{% extends "base.html" %} {% block content %}
<div class="container">
    <h1 class="my-4">Workouts</h1>
    {% for workout in workouts %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ workout['workout_name'] }}</h2>
            <p class="card-text">Body Group: {{ workout['body_group'] }}</p>
            <a href="{{ url_for('workout_detail', workout_id=post['workout_id']) }}" class="btn btn-primary">View Workout</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}